In [2]:
import pandas as pd

In [3]:
d = dict()
d ={i: i**2 for i in range(10)}

In [4]:
df = pd.DataFrame.from_dict(d, orient="index")

In [5]:
df.head()

    0
0   0
1   1
2   4
3   9
4  16

In [35]:
nums = [1, 2, 3, 4, 5]

In [50]:
nums[-1]

5

In [22]:
(i for i in nums)

In [9]:
list(df.columns)

[0]

In [15]:
it = iter(nums)

In [20]:
next(it)

StopIteration:

In [52]:
a = 1

In [53]:
'a' + str(a+2)

'a3'

In [9]:
d = {'A': 1, 'B': 2, 'C': 3, '':1}
print(d)
{key:value for key, value in d.items() if key != ''}

{'': 1, 'A': 1, 'B': 2, 'C': 3}

{'A': 1, 'B': 2, 'C': 3}

In [11]:
    tdf = pd.read_csv('converted/s1', index_col=0)
    #Filter Columns
    t = tdf[['ip.dst', 'ip.proto', 'sniff_timestamp', 'sample']]
    #Remove null destinations
    t = t[t['ip.dst'].notnull()]
    #Rename Columns
    t.columns = ['ip', 'proto', 'time_stamp', 'sample']
    #Get count for each ip
    df = t.groupby(['ip', 'proto']).size().unstack().fillna(0).astype(int)

In [15]:
df.head()

proto            1   2   6   17
ip
103.20.94.1       0   0  21   0
104.208.165.109   0   0  12   0
104.225.10.227    0   0  10   0
13.92.27.116      0   0  10   0
144.2.3.5         0   0  21   0

In [17]:
df[[6,17]]

proto            1   2
ip
103.20.94.1      0   0
104.208.165.109  0   0
104.225.10.227   0   0
13.92.27.116     0   0
144.2.3.5        0   0
172.217.10.10    0   0
172.217.10.110   0   0
172.217.10.78    0   0
172.217.10.99    0   0
172.217.11.46    0   0
172.217.12.138   0   0
172.217.12.206   0   0
172.217.7.131    0   0
172.217.9.234    0   0
172.217.9.238    0   0
173.194.205.189  0   0
173.194.206.189  0   0
173.194.208.189  0   0
192.168.0.255    0   0
192.168.0.4      0   0
192.168.0.8      0   0
192.96.161.238   0   0
209.85.201.189   0   0
209.85.232.189   0   0
216.58.219.195   0   0
224.0.0.1        0  32
224.0.0.251      0  22
239.255.255.250  0   0
35.186.165.183   0   0
35.186.244.130   0   0
40.84.51.249     0   0
52.23.200.231    0   0
52.6.129.72      0   0
54.175.43.49     0   0
54.209.43.205    0   0
54.81.10.77      0   0
65.19.96.252     7   0
65.19.96.253     3   0
74.125.22.189    0   0
93.184.215.201   0   0